<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <aside>
      <h2>سیستەمی شیکاری هەواڵ</h2>
      <ul>
        <li>سەرەتا</li>
        <li>ئامارەکان</li>
      </ul>
    </aside>
    <main>
      <h1>دواین هەواڵەکان</h1>
      <div class="news-container">
        <article>
          <img src="https://picsum.photos/200/300" alt="" />
          <h3>ئەمە ناونیشانی تاقی کردنەوەیە</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
            nam et vero reiciendis quidem impedit.
          </p>
          <a href="#" class="btn">درێژەی بابەت</a>
        </article>
      </div>
    </main>
  </body>
</html>
