<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <aside>
      <h2>سیستەمی شیکاری هەواڵ</h2>
      <ul>
        <li>سەرەتا</li>
        <li>ئامارەکان</li>
      </ul>
    </aside>
    <main>
      <header class="top-bar">
        <div class="search-box">
          <input type="text" placeholder="گەڕان بەدوای هەواڵ..." />
          <button class="btn-search">گەڕان</button>
        </div>
        <div class="user-profile">
          <span>ئەدمین</span>
          <img
            src="https://ui-avatars.com/api/?name=Admin&background=0145F2&color=fff"
            alt="Admin Profile"
          />
        </div>
      </header>
      <h1>دواین هەواڵەکان</h1>
      <div class="news-container">
        <article th:each="news : ${newsList}">
          <img th:src="${news.imageUrl}" alt="News Image" />
          <h3 th:text="${news.title}"></h3>
          <p th:text="${news.kurdishContent}"></p>
          <a th:href="${news.url}" class="btn">درێژەی بابەت</a>
        </article>
      </div>
    </main>
  </body>
</html>
